@page
@model SleekClothing.Pages.admin.categories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<br/>
<h1>Edit <span class="fw-light">@Model.Category.Name</span></h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="d-flex flex-column gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.Id" />
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
           
            <br/>
            <div class="d-flex gap-2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
